.sunIcon,
.moonIcon{
    height: 30px;
    width: 30px;
}

.svgRedes {
    height: 2.5rem;
    width: 2.5rem;
    fill: #0072c6;

}

.svgRedes:hover {
    fill: #3186c4;
}

.svgIcon {
    height: 2rem;
    width: 2rem;
}
.languageIconsContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.iconContainer {
    text-align: center;
    width: 74px;
    height: 62px;
}

@media (max-width: 768px) {
    .svgRedes {
        width: 4rem;
        height: 4rem;
    }
}
@media (max-width: 375px) {
    .svgRedes {
        width: 2.5rem;
        height: 2.5rem;
    }
}