/* css reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*---- end of reset ----*/

:root {
  --blanco: white;
  --gris-medio: #333333;
  --gris-oscuro: #1e1e1e;
  --main-font: "Oswald", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --shadow: rgba(0, 0, 0, 0.75);
  --verde: #7ac943;
/*---- Modo Claro ----*/
  --shadow-light-mode: 4px 8px 16px 0px rgba(0, 0, 0, 0.75);
  --blanco-light-mode: #F5F5F5;
  --gris-oscuro-light-mode: #252525;
  --azul-light-mode: #0072C6;
  --azul-claro-light-mode: #00BFFF;
  --gris-light-mode: #A9A9A9;
  --amarillo-light-mode: #FFD700;
/*---- Moso Oscuro ---*/
  --gris-oscuro-dark-mode: #2F2F2F;
  --azul-dark-mode: #1E90FF;
  --azul-claro-dark-mode: #87CEFA;
  --gris-dark-mode: #808080;
}

body, header, section {
  align-items: center;
  background-color: var(--blanco-light-mode);
  display: flex;
  flex-direction: column;
  width: 100%;
}

nav {
  width: 100%;
}

.header {
  color: var(--gris-oscuro-light-mode);
  font-family: var(--main-font);
  font-size: 3.43rem;
  margin-top: 1rem;
}

.subHeader {
  color: var(--gris-oscuro-light-mode);
  font-family: var(--main-font);
  font-size: 3rem;
  margin-top: 1rem;
}

.subtitle {
  color: var(--azul-light-mode);
  font-family: var(--secondary-font);
  font-size: 24px;
}

.headerImg {
  background: center / cover no-repeat;
  border-radius: 50%;
  border: 2px solid var(--gris-light-mode);
  box-shadow: var(--shadow-light-mode);
  height: 300px;
  margin-top: 80px;
  width: 300px;
}

.navigation {
  color: var(--gris-light-mode);
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  margin: 24px auto;
  width: 50%;
}

.navItem a {
  text-decoration: none;
  color: var(--gris-oscuro-light-mode);
}

.navItem {
  align-items: center;
  border-radius: 5px;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  width: 33%;
}

.navItem:hover,
.navItem:hover a {
  background-color: var(--azul-claro-light-mode);
  color: #292929;
  cursor: pointer;
}

.navItem:focus-within {
  background-color: var(--azul-claro-light-mode);
}

.navItem a:focus {
  outline: none;
  color: var(--gris-oscuro);
}

.intro {
  margin: 24px 196px 0;
  color: var(--gris-oscuro-light-mode);
}

.socialMedia {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 32px auto 0;
  width: 30%;
}


.socialMedia li a {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  text-decoration: none;
}

.socialMedia li a:focus {
  outline: none;
  font-size: 20px;
}


.socialMedia li i:focus {
  outline: none;
  font-size: 2.4rem;
}

.socialMedia li img:focus {
  width: 38;
  height: 38;
}

.socialMedia li:focus-within {
  outline: 3px solid var(--azul-claro-light-mode);
  padding: 8px;
}

.socialMedia p {
  color: var(--gris-oscuro-light-mode);
  font-weight: bold;
}

.projectGallery {
  margin-bottom: 1.5rem;
}

.cardsContainer {
  margin-top: 1rem;
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 768px) {
  body, header, section {
    width: 100vw;
  }

  .headerImg {
    height: 400px;
    width: 400px;
  }

  .header {
    font-size: 5rem;
  }
  .subtitle {
    font-size: 2.2rem;
  }

  .navigation {
    width: 80%;
  }

  .navItem {
    font-size: 1.5rem;
  }

  .subHeader {
    font-size: 4.5rem;
  }

  .intro {
    width: 80%;
  }

  .socialMedia,
  .intro {
    font-size: 1.8rem;
  }

  .socialMedia {
    gap: 2rem;
  }

  .cardsContainer {
    flex-flow: column wrap;
    gap: 2rem;
  }
}

@media (max-width: 375px) {
  .headerImg {
    height: 250px;
    width: 250px;
  }

  .header {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 1.35rem;
  }

  .navigation {
    width: 100vw;
  }

  .navItem {
    font-size: 1.3rem;
    text-align: center;
  }

  .subHeader {
    font-size: 2.8rem;
  }

  .intro {
    width: 80%;
  }

  .socialMedia,
  .intro {
    font-size: 1.2rem;
  }

  .socialMedia {
    gap: 1rem;
  }

  .cardsContainer {
    flex-flow: column wrap;
    gap: 2rem;
  }
}