/* css reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*---- end of reset ----*/

/*---- Switch Dark/Light Mode ----*/

.switch {
  margin-top: 1rem;
  background-color: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  gap: 5px;
}

.switch::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  background: #f1f1f1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

.switch span,
.active span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
}

.active {
  margin-top: 1rem;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  gap: 5px;
  background-color: orange;
}
.active::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  background: #f1f1f1;
  right: 0;
  top: 0;
  left: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

/*---- End of Switch ----*/
/*---- Dark Mode Template ----*/
.dark {
  background-color: transparent;
}
.light {
  opacity: 1;
}

/*---- End of Dark Mode Template ----*/
:root {
  --blanco: white;
  --gris-medio: #333333;
  --gris-oscuro: #1e1e1e;
  --main-font: "Oswald", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
  --shadow: rgba(0, 0, 0, 0.75);
  --verde: #7ac943;
/*---- Modo Claro ----*/
  --shadow-light-mode: 4px 8px 16px 0px rgba(0, 0, 0, 0.75);
  --blanco-light-mode: #F5F5F5;
  --gris-oscuro-light-mode: #252525;
  --azul-light-mode: #0072C6;
  --azul-claro-light-mode: #00BFFF;
  --gris-light-mode: #A9A9A9;
  --amarillo-light-mode: #FFD700;
/*---- Moso Oscuro ---*/
  --gris-oscuro-dark-mode: #2F2F2F;
  --azul-dark-mode: #1E90FF;
  --azul-claro-dark-mode: #87CEFA;
  --gris-dark-mode: #808080;
}

body, header, section {
  align-items: center;
  background-color: var(--blanco-light-mode);
  display: flex;
  flex-direction: column;
  width: 100%;
}

nav {
  width: 100%;
}

.header {
  color: var(--gris-oscuro-light-mode);
  font-family: var(--main-font);
  font-size: 3.43rem;
  margin-top: 1rem;
}

.subHeader {
  color: var(--gris-oscuro-light-mode);
  font-family: var(--main-font);
  font-size: 3rem;
  margin-top: 1rem;
}

.subtitle {
  color: var(--azul-light-mode);
  font-family: var(--secondary-font);
  font-size: 24px;
}

.headerImg {
  background: center / cover no-repeat;
  border-radius: 50%;
  border: 2px solid var(--gris-light-mode);
  box-shadow: var(--shadow-light-mode);
  height: 300px;
  margin-top: 80px;
  width: 300px;
}

.navigation {
  color: var(--gris-light-mode);
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  margin: 24px auto;
  width: 50%;
}

.navItem a {
  text-decoration: none;
  color: var(--gris-oscuro-light-mode);
}

.navItem {
  align-items: center;
  border-radius: 5px;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  justify-content: center;
  width: 33%;
}

.navItem:hover,
.navItem:hover a {
  background-color: var(--azul-claro-light-mode);
  color: #292929;
  cursor: pointer;
}

.navItem:focus-within {
  background-color: var(--azul-claro-light-mode);
}

.navItem a:focus {
  outline: none;
  color: var(--gris-oscuro);
}

.intro {
  margin: 24px 196px 0;
  color: var(--gris-oscuro-light-mode);
}

.socialMedia {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 32px auto 0;
  width: 30%;
}


.socialMedia li a {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  text-decoration: none;
}

.socialMedia li a:focus {
  outline: none;
  font-size: 20px;
}


.socialMedia li i:focus {
  outline: none;
  font-size: 2.4rem;
}

.socialMedia li img:focus {
  width: 38;
  height: 38;
}

.socialMedia li:focus-within {
  outline: 3px solid var(--azul-claro-light-mode);
  padding: 8px;
}

.socialMedia p {
  color: var(--gris-oscuro-light-mode);
  font-weight: bold;
}

.projectGallery {
  margin-bottom: 1.5rem;
}

.cardsContainer {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}